<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>725619948.196945</string>
					<key>XcodeLocation</key>
					<string>{"Selection":{"Editor":"Xcode3SigningEditor","Target":"Think"}}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Think.xcodeproj</string>
					</dict>
				</dict>
				<key>type</key>
				<string>Xcode3ProjectDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: The file "/Users/isin-won/Documents/pard_ios_project/Think/Meme_Dong_Office/Meme_Dong_Office.entitlements" could not be opened. Verify the value of the CODE_SIGN_ENTITLEMENTS build setting for target "Think" is correct and that the file exists on disk.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
